@import "../../globalStyles/scss/variables.scss";
@import "../../globalStyles/scss/mixins.scss";

.comment-form {
  display: flex;
  flex-direction: column;
  background: $white;
  padding: $layout-space;
  border-top: 4px solid $primary;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  @media (min-width: 768px) {
    max-width: 50%;
    left: 25%;
    right: 25%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 1px solid $gray-extra-light;
    border-right: 1px solid $gray-extra-light;
    // box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.075);
    // box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
    //   -12px 0 8px -4px rgba(31, 73, 125, 0.8);
  }

  &__item + &__item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.1875;
  }

  &__author {
    font-weight: bold;
    margin-left: 0.3rem;
  }

  &__textarea {
    width: 100%;
    border: 1px solid $gray-extra-light;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.1875;
    font-family: "Raleway";
  }

  &__btn-row {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__btn + &__btn {
    margin-left: 1rem;
  }
}
