$primary: #0e9bba;
$accent: #d85fcc;
$dark: #212529;
$gray-extra-light: #e5e5e5;
$gray-light: #c4c4c4;
$gray-dark: #aaa2a2;
$gray-extra-dark: #424242;
$blue-gray: #343a40;
$white: #fff;
$gray-hovered: #e5e5e585;
$pink: #f06292;
$layout-space: 1rem;

$large-avatar-length: 9.625rem;
